@model Petbook.Models.Post

<div class="card-body" style="background-color:#f7f7f2; padding: 0">

    @*TODO: use PetPhoto insead (#EECD7A;)*@
    <div class="d-flex col rounded-top" style="background-color: #eab676; width: calc(30vw - 2px); margin:auto">
        <div class="d-flex row text-lg-start">
            <div class="d-flex col">
                <img style="width:55px; height:55px" class="rounded-circle px-2 py-2" src=@Model.PostPhoto alt="No photo">
                <span class="card-title d-block mt-2" style="font-size: 22px; font-weight: 400"><b>@Model.Pet.PetName</b></span>
            </div>
            <span class="card-subtitle d-block mx-2 mb-1" style="font-size: 14px; font-weight: 200">~ owned by @Model.Pet.User.UserName ~</span>
        </div>
    </div>

    <img style="width:calc(30vw - 2px)" src=@Model.PostPhoto alt="No photo">

    <div class="d-flex justify-content-between row">
        <div class="d-flex col justify-content-left mx-2 my-1">
            <span id="like-btn-@Model.PostId"><i id="like-btn-icon-@Model.PostId" class="bi bi-hand-thumbs-up" style="font-size: 1.4rem"></i></a> 
                <span id="like-count-@Model.PostId">@Model.PostLikes.Count</span>
            </span>
            <span class="mx-3"><i class="bi bi-chat" style="font-size: 1.4rem"></i></span>
        </div>
        <br />
        <div class="m-2" style="text-align:left">
            <i class="bi bi-blockquote-left mt-5" style="font-size: 1rem"></i> 
            <span class="mb-1" style="text-align:left; margin-top:0px; font-size: 1.1rem">@Model.Description</span>
        </div>
        <br />
        <br />
        <div class="d-flex justify-content-center col">
            <input class="form-control" style="border-radius: 0 0 0 3px; border-left-color: white; border-bottom-color: white" placeholder="Add a comment"/>
            <button class="btn text-right" style="background-color: #eab676; border-radius: 0 0 3px 0" type="submit">Post</button>
        </div>
    </div>

</div>

<script>
    var likesCount_@Model.PostId = @Model.PostLikes.Count;
    $('#like-btn-' + @Model.PostId).on('click', function (ev) {
        $.post("/PostLikes/AddLike/" + @Model.PostId, null, function(data, status) {
            if(status == "success") {
                if (data == "Post with id " + @Model.PostId + " liked") {
                    console.log(data);
                    likesCount_@Model.PostId ++;
                    $('#like-btn-icon-' + @Model.PostId).removeClass("bi-hand-thumbs-up");
                    $('#like-btn-icon-' + @Model.PostId).addClass("bi-hand-thumbs-up-fill");
                    $('#like-btn-icon-' + @Model.PostId).css("color", "#EECD7A");
                } else {
                    console.log(data);
                    likesCount_@Model.PostId --;
                    $('#like-btn-icon-' + @Model.PostId).removeClass("bi-hand-thumbs-up-fill");
                    $('#like-btn-icon-' + @Model.PostId).addClass("bi-hand-thumbs-up");
                    $('#like-btn-icon-' + @Model.PostId).css("color", "black");
                }
                $('#like-count-' + @Model.PostId).html(likesCount_@Model.PostId);
            }
            else {
                console.log("Error calling like/dislike");
            }
        });
        
    });
</script>
